<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SymBNB - {% block title %}Bienvenue!{% endblock %}</title>
    
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
         {{ include('/admin/partials/header.html.twig') }}
            {# <div class="container"> #}

                {{ include('/partials/_flash_message.html.twig') }}
                {% block body %}{% endblock %}
            {# </div> #}
        
        {{ include('/admin/partials/footer.html.twig') }}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('ad') }}
        {% endblock %}
    </body>
</html>
