<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SymBNB - {% block title %}Bienvenue!{% endblock %}</title>
        {# <link rel="stylesheet" href="{{ asset('build/app.css') }}"> #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
         {{ include('/partials/_nav.html.twig') }}
            {# <div class="container"> #}

                {{ include('/partials/_flash_message.html.twig') }}
                {% block body %}{% endblock %}
            {# </div> #}
        
        {{ include('/partials/footer.html.twig') }}

         {# <script src="{{ asset('build/app.js') }}"></script> #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('ad') }}
        {% endblock %}
    </body>
</html>
