{% extends 'base.html.twig' %}

{% block title 'Bienvenue sur le meilleur réseau d\'appartement' %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">Bienvenue sur SymBNB!</h1>
    <p class="lead">Nous mettons en relation les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en
    proposant leurs biens à la locations!</p>
    <hr class="my-4">
    <p>Vous êtes voyageurs ? Et vous voulez voir où vous pourrez loger pour votre prochain déplacement ?</p>
    <p class="lead">
        <a href="{{ path('app_ads') }}" class="btn btn-primary btn-lg" role="button">Voir nos annonces</a>
    </p>
  </div>

  <h2 class="h1 mb-4 mt-3">Nos appartements star!</h2>

  <div class="row">
    {% for data in ads %}
       {% include "partials/_ad.html.twig" with {'ad': data.annonce} %} 
    {% endfor %}
  </div>

    <h2 class="h1 mb-4 mt-3">Nos propriétaires star !</h2>

    <div class="row">
        {% for data in users %}
            <div class="col-md-6">
                <div class="card border-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{ data.user.fullName }}
                        </h4>

                        <hr>

                        <div class="card-text">
                            <img src="{{ data.user.picture }}" alt="Avatar de {{ data.user.fullName }}" class="avatar avatar-medium">
                            {{ data.user.introduction }}
                            <a href="{{ path('app_user_show', {'slug': data.user.slug}) }}" class="btn btn-success float-right">En savoir plus</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>
{% endblock %}